<app-header></app-header>
<section class="mais-acessadas container">
  <h2>Mais acessadas</h2>

  <div class="display">
      <div class="content">
          <img src="../../assets/img/burger.png" alt="">
          <h4>Triplo bacon burger</h4>
          <span>por Jorge Relato</span>
      </div>

      <div class="content">
          <img src="../../assets/img/pizza.png" alt="">
          <h4>Pizza 4 estações</h4>
          <span>por Fabiana Melo</span>
      </div>

      <div class="content">
          <img src="../../assets/img/burger.png" alt="">
          <h4>Espaguete ao alho</h4>
          <span>por Júlia Kinoto</span>
      </div>

      <div class="content">
          <img src="../../assets/img/lasanha.png" alt="">
          <h4>Lasanha mac n' cheese</h4>
          <span>por Juliano Vieira Kinoto</span>
      </div>

      <div class="content">
          <img src="../../assets/img/doce.png" alt="">
          <h4>Docinhos pão-do-céu</h4>
          <span>por Ricardo Golvea</span>
      </div>

      <div class="content">
          <img src="../../assets/img/burger.png" alt="">
          <h4>Asinhas de frango ao barbecue</h4>
          <span>por Vanila Steroski</span>
      </div>
  </div>
</section>
